# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Agent installation components
/electron/components
/electron/work
/electron/logs
/electron/data.mv.db
/electron/tests/data.mv.db
/electron/tests/logs/agent.log
/electron/tests/agentTest.js
/electron/data.trace.db
/components
data.mv.db
electron-builder.yml